networks:
  finance-network:
    name: "finance-network"
services:
  app:
    container_name: api_finance
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
    ports:
      - "8080:8080"
    networks:
      - finance-network

volumes:
  pgdata:
