networks:
  finance-network:
    name: "finance-network"
services:
  app:
    container_name: api_finance
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DATABASE_URL: >-
        postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=require
    ports:
      - "8080:8080"
    networks:
      - finance-network

volumes:
  pgdata:
